h1{

font-size: 50px;
font-style: italic;
margin: 0 50px;  
}
html{
  background-image: url(https://arun457.github.io/3Dmodels/images/lowsizebackground.jpg);
  background-color: #f4e9e9;
  cursor: url(../images/a.cur), auto;
  font-weight: bold;
}
img{    
margin: 50px 50px 0px 50px;
border: 2px solid black;
border-radius: 18px;
/* height: 300px;
width: 300px; */
}

.youtube-video
{
  border-radius: 18px;
}

body{
text-align: center;
}

